*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-size: 1.6rem;
}

.header {
  height: 5vh;
  background-color: darkgray;
}

.container {
  min-height: 95vh;
  display: flex;
}

.col-1 {
  background-color: midnightblue;
  width: 30vw;
  padding: 1.6rem;
}

.content {
  position: sticky;
  top: 0;
  height: calc(95vh - 1.6rem * 2);
  overflow-y: auto;
}

.stuck {
  height: 100vh;
}

.col-2 {
  width: 70vw;
}

.title {
  background-color: maroon;
  position: sticky;
  top: 0;
  height: 15vh;
  width: 70vw;
  white-space: nowrap;
  overflow-x: auto;
}

.results {
  font-size: 40px;
  padding: 1.6rem;
  background-color: turquoise;
  min-height: calc(80vh - 1.6rem * 2);
  overflow-y: auto;
}

h1 {
  color: white;
}
